language = "python3"
run = "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:3000"
# foo_no_run_syncdb = "python manage.py makemigrations && python manage.py migrate --run-syncdb && python manage.py runserver 0.0.0.0:3000"
